@import "tailwindcss";

:root {
  --background: #ffffff; /* Putih */
  --foreground: #171717; /* Hitam keabu-abuan untuk teks */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #dc2626;       /* Merah utama (untuk tombol/header) */
  --color-primary-light: #ef4444; /* Merah terang (untuk hover) */
  --color-primary-dark: #b91c1c;  /* Merah gelap (untuk teks penting) */
  --color-primary-50: #fef2f2;    /* Merah sangat pudar (untuk background section) */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}